/*Обнуление*/
*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before, *:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus,a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size:inherit; font-weight: 400;}
/*---Обнуление стилей---*/

body {
    font-family: 'Roboto', sans-serif;
}
.no-scroll {
    overflow: hidden;
}
.header {
    height: 104px;
    display: flex;
}
.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #5671F6;
    border-right: 1px solid #D4D4D4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
}
.curtain {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.search {
    display: flex;
    margin-left: 34px;
}
.glass {
    margin-right: 22px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
}
.input {
    font-size: 18px;
    color: #A5A5A5;
}
.navigation {
    margin-right: 44px;
    margin-left: auto;
}
.navigation_link {
    font-size: 18px;
    color: #363636;
    margin-right: 18px;
}
.buttons {
    display: flex;
}
.button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    height: 104px;
    cursor: pointer;
}
.registration_link {
    color: #5671F6;
    padding: 0 34px;
    border-left: 1px solid #D4D4D4;
}
.enter_link {
    background: #5671F6;
    color: #fff;
    padding: 0 50px;
}
.mobile_buttons {
    display: none;
    background-color: #fff;
}
.mobile_glass {
    background-color: #fff;
    margin-top: 2px;
    padding-right: 30px;
}
.mobile_menu {
    width: 20px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
}
.menu_line {
    display: block;
    height: 2px;
    background-color: #000;
    width: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.container {
    max-width: 1130px;
    margin: auto;
}
.film {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
}
.film_wrapper {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
.film_trailer {
    display: flex;
    flex-direction: column;
}
.poster {
    border-radius: 5px 5px 0px 0px;
}
.trailer_button {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    border: solid 2px #E5E5E5;
    border-radius: 0px 0px 5px 5px;
}
.play {
    margin-right: 14px;
}
.film_text {
    padding-left: 60px;
}
.film_title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #363636;
    margin-bottom: 16px;
}
.film_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-bottom: 32px;
}
.film_description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 42px;
}
.about_film {
    display: flex;
    margin-bottom: 42px;
}
.about_film_column{
    margin-right: 40px;
}
.about_text {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    display: flex;
    padding: 8px 0;
}
.about_text_bold {
    font-weight: bold;
    width: 100px;
    padding-right: 10px;
}
.film_rating {
    display: flex;
    width: 296px;
    height: 100px;
}
.film_rating_percentage {
    width: 100px;
    border: 1px solid #5671F6;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5671F6;
}
.film_rating_text {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28px;
}
.film_rating_text_head {
    margin-right: 0;
    margin-bottom: 9px;
    font-weight: bold;
}
.film_rating_text_body {
    margin: 3px 0;
}
.cast {
    padding: 70px 0 65px 0;
}
.tabs {
    display: flex;
    align-items: center;    
}
.tab {
    cursor: pointer;
}


                                /* TABS_CONTENT */


.tabs_content {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    visibility: hidden;
}
.tabs_content.visible{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    visibility: visible;
}
.section_title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}
.section_title.active {
    color: #363636;
    font-weight: 900;
}
.card_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}
.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-bottom: 6px;
}
.en_name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
}
.news {
    background: #F3F3F3;
    padding-top: 70px;
    padding-bottom: 100px;
}
.section_news_title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 40px;
}
.news_cards {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.news_card {
    flex-basis: 23%;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}
.news_date {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.news_title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 14px;
}
.button_next {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    cursor: pointer;
    z-index: 99;
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .card_image {
        width: 70px;
        height: 70px;
    }
    .registration-link,
    .enter-link {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navigation {
        margin-right: 20px;
    }
    .search {
        margin-left: 20px;
    }
    .navigation_link {
        margin-right: 10px;
        font-size: 16px;
    }
}
@media (max-width: 980px) {
    .about_film,
    .film_description {
        display: block;
        margin-bottom: 15px;
    }
}



                            /* Адаптация для смартфона */



@media (max-width: 612px) {
    .header {
        height: 65px;
        width: 319px;
        margin: auto;
        margin-left: 70px;
        justify-content: space-between;
    }


                                /* Шторка */


    .curtain {
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        top: 8%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #5671F6;
    }
    .curtain.active {
        display: flex;
    } 
    .logo {
        justify-content: flex-start;
        border: none
    }
    .search {
        margin: 0;
        margin-top: 51px;
        margin-bottom: 44px;
        width: 260px;
        height: 35px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .glass {
        display: none;
    }
    .input {
        width: 176px;
        height: 25px;
    }
    .navigation {
        width: 110px;
        height: 138px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 66px;
    }
    .navigation_link {
        font-size: 18px;
        color: #fff;
        margin-right: 0;
    }
    .registration_link {
        padding: 0;
        border-left: 0;
        border-top: 1px solid #D4D4D4;
        color: #fff;
        justify-content: center;
        padding-top: 66px;
        padding-bottom: 30px;
    }
    .enter_link {
        padding: 0;
        justify-content: center;
    }
    .buttons {
        flex-direction: column;
    }
    .button {
        height: auto;
    }
    .button_next {
        display: block;
    }


                                /* Конец шторки */


    .container {
        width: 319px;
    }
    .film_wrapper {
        display: block;
    }
    .trailer_button {
        background-color: #ffffff;
    }
    .film_text {
        padding: 0;
        margin-top: 30px;
    }
    .film_title {
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #363636;
        margin-bottom: 12px;
    }
    .film_subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .about_film {
        margin-bottom: 40px;
    }
    .tabs_content.visible {
        display: block;
        margin-top: 45px;
    }
    .cast {
        padding-top: 74px;
        padding-bottom: 55px;
    }
    .card {
        margin-bottom: 20px;
    }
    .mobile_buttons {
        display: flex;
        align-items: center;
    }
    .news {
        padding-bottom: 60px;
    }
   .news_cards {
    flex-direction: column;
    }
    .news_card {
        margin-bottom: 20px;
        max-width: 85%;
    }
}
